.hidden  {
    display: none;
}

img  {
    height: 20px;
    width: 20px;
    display: block;
    margin: 0 auto;
}
#search-term  {
    width: 70%;
}

#map-div  {
    height: 300px;
    width: 100%;
}

iframe   {
    height: 300px;
    width: 100%;
}
.bug-div  {
    display: inline-block;
    height: 130px;
    /* width: 250px; */
    border: solid 3px rgba(30, 24, 192, 0.449);
    text-align: center;
    margin: 15px;
}

.places-div  {
    display: inline-block;
    height: 130px;
    /* width: 250px; */
    border: solid 3px rgba(30, 24, 192, 0.449);
    text-align: center;
    margin: 15px;
}

#clear  {
    background-image: url("../images/clear.png");
    background-size: cover;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: none
}

#rain  {
    background-image: url("../images/rain.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}

#light-rain,
#drizzle  {
    background-image: url("../images/drizzle.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}


#clouds  {
    background-image: url("../images/cloudy.png");
    background-size: cover;
    height: 50px;
    width: 50px;
}